.patientshome {
    gap: 3rem;
    padding: 4rem;
}

.frase {
    font-size: 2.25rem;
    line-height: 2.25rem;
    padding: 3rem;
}

.patientshome_img {
    width: 20rem;
}

.btn {
    padding: 0.75rem;
}

.inputs {
    flex-direction: row;
    gap: 4rem;
}

.cardsPH {
    gap: 3rem;
    padding: 7rem 5rem 0 5rem;
}

.grp-cards {
    padding: 1rem;
    border-radius: 12px;
}

.grp-cards h2 {
    line-height: 1.75rem;
    font-size: 1.35rem;
    padding: 1rem;
}

.grpcards-p {
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width:1024px) {
    .patientshome {
        gap: 2rem;
        padding: 4rem;
    }

    .patientshome_img {
        width: 10rem;
    }

    .frase {
        font-size: 2.2rem;
        line-height: 2rem;
        gap: 1rem;
    }

    .inputs {
        gap: 5rem;
        padding: 0.5rem;
    }

    .cardsPH {
        gap: 1rem;
    }

    .grp-cards {
        flex-direction: column;
        width: 30%;
        padding: .5rem;
    }

    .grp-cards h2 {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 600;
        margin: 0;
        padding-top: 0.25rem;
    }

    .grpcards-p {
        font-size: 0.85rem;
        line-height: 0.9rem;
        padding: 0 .5rem;
    }
}

@media screen and (max-width:768px) {
    .patientshome {
        gap: 1rem;
        padding: 3.5rem 2rem 0.5rem 2rem;
    }

    .patientshome-logo {
        width: 3.25rem;
        left: 0.5rem;
    }

    .frase {
        font-size: 1.75rem;
    }

    .inputs {
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .cardsPH {
        padding: 3rem;
        gap: 1rem;
        justify-content: center;
    }

    .grp-cards {
        flex-direction: column;
        width: 50%;
        padding: 1rem;
    }

    .grp-cards h2 {
        font-size: 0.9rem;
        line-height: 1rem;
        font-weight: 600;
        padding: 0.25rem;
    }

    .grpcards-p {
        font-size: 0.8rem;
        line-height: 1.1rem;
        padding-top: 0.25rem;
    }
}

@media screen and (max-width: 425px) {
    .patientshome {
        gap: 1rem;
        padding: 3.5rem 2rem 0.5rem 2rem;
    }

    .frase {
        margin-top: 2rem;
        padding: 28px 12px;
        font-size: 1.65rem;
        line-height: 2rem;
    }

    .patientshome_img {
        width: 10rem;
    }

    .inputs {
        padding: 1rem;
    }

    .cardsPH {
        padding: 1rem 0.5rem 0.5rem 0.5rem;
    }

    .grp-cards {
        border-radius: 7px;
        width: 33%;
        padding: 0.5rem;
    }

    .grp-cards h2 {
        font-size: 0.85rem;
        line-height: 0.9rem;
        font-weight: 500;
        text-align: center;
    }

    .grpcards-p {
        font-size: 0.8rem;
        line-height: 0.8rem;
        text-align: center;
    }
}

@media screen and (max-width: 375px) {
    .patientshome-logo {
        width: 3.5rem;
    }

    .patientshome {
        gap: 1rem;
        padding: 3.5rem 2rem 0.5rem 2rem;
    }

    .frase {
        font-size: 1.5rem;
        line-height: 2rem;
        padding: .5rem;
    }

    .inputs {
        flex-direction: column;
        gap: 0.5rem;
        padding: .5rem;
    }

    .cardsPH {
        gap: .5rem;
    }

    .grp-cards {
        border-radius: 7px;
        width: 32%;
        padding: 0.2rem;
    }

    .grp-cards h2 {
        font-size: 0.85rem;
        line-height: 1rem;
        font-weight: 500;
    }

    .grpcards-p {
        line-height: 1rem;
        font-size: 0.8rem;
    }

    .patientshome_img {
        width: 120px;
        padding-top: 1px;
    }
}

@media screen and (max-width: 320px) {
    .patientshome-logo {
        width: 3.5rem;
        gap: 1rem;
    }

    .patientshome {
        flex-direction: column;
        padding: 2.5rem;
        gap: 0;
        margin-top: 3.5rem;
    }

    .frase {
        font-size: 1.4rem;
        line-height: 2rem;
        font-weight:500;
        padding: 0;
        gap: 0;
    }

    .patientshome_img {
        width: 6.5rem;
    }

    .inputs {
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem;
    }

    .cardsPH {
        gap: .25rem;
        align-items: flex-start;
    }

    .grp-cards {
        border-radius: 5px;
        width: auto;
    }

    .grp-cards h2 {
        font-size: 0.8rem;
        line-height: 0.8rem;
        font-weight: 600;
        margin: 0;
        padding: 0;
    }

    .grpcards-p {
        font-size: 0.725rem;
        line-height: 0.8rem;
        text-align: center;
    }
}