.hamburger-menu{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
    z-index: 1000;
}
.iconMenuslider{
    font-size: 1.5rem;
}
.nav-dash{
    position: relative;
}
.menu-close{
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
    display: none;
}
/* Estilos para el menú de hamburguesa */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
  }
  
  .bm-burger-bars {
    background: white;
  }
  
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  .bm-cross {
    background: #bdc3c7;
  }
  
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
    display: flex;
    flex-direction: column;
  }
  
  .menu-item {
    padding: 0.5em 0;
    color: white;
    cursor: pointer;
  }
  
  .menu-item:hover {
    color: #68ddbd;
  }
  
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  .menuEscritorio{
    display: none;
  }

@media (max-width: 768px) {
    .nav-dash{
        display: none;
    }
    .menuEscritorio{
        display: flex;
    }
    .menu-close{
        display: flex;
    }
    .hamburger-menu{
        display: flex;
    }
    .nav-dash.active{
    display: flex;
    width: 100vw;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 100;
}
  }